/* Button styles */
.btn-verification {
  padding: 12px 24px;
  width: fit-content;
  margin-top: 11px;
  margin-bottom: 11px;
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Dark gray text color */
  background-color: #007bff; /* Red background */
  border: 2px solid #007bff; /* Red border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect on button */
.btn-verification:hover {
  background-color: #0056b3; /* Darker red on hover */
  border-color: #0056b3; /* Darker border on hover */
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Responsive styles for smaller screens */
@media all and (max-width: 600px) {
  .btn-verification {
    font-size: 14px;
  }
}
body:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add shadow to the entire page on hover */
}
